@import "layout.scss";

a {
	color: inherit;
	text-decoration: none;
}

// ba-banner START

.ba-banner {
	position: relative;
	height: 930px;
	background: {
		image: url(../img/bg-dark.png), url(../img/hero.jpg);
		size: cover;
	}

};

.ba-header {
	position: relative;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
}

.ba-header__link {
	font: {
		family: 'Poppins', sans-serif;
		size: .875rem;
	}
	line-height: 15px;
	color: #fff;
	margin: 0;
	padding-left: 125px;
}

.ba-header__link a {
	color: #ff3a2d;
}

.ba-header-search{
	overflow: hidden;
	width: 200px;
	vertical-align: middle;
	white-space: nowrap;
}

.ba-header-search #search{
	width: 200px;
	height: 30px;
	background-color: #c0bebc;
	border: none;
	font-size: .875rem;
	float: left;
	color: gray;
	padding-left: 15px;
	border-radius: 5px;
	outline: none;
}

.ba-header-search #search:hover,
.ba-header-search #search:focus,
.ba-header-search #search:active {
	background-color: #fff;
	transition: background .55s ease;
}

.ba-header-search .ba-search__btn{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	background-color: #ff3a2d;
	height: 30px;
	width: 30px;
	color: #fff;
	font-size: 1.175rem;
	margin-left: -30px;
	outline: none;
	transition: all .55s ease;
	cursor: pointer;
}

.ba-header__login {
	font: {
		family: 'Poppins', sans-serif;
		size: .875rem;
	}
	line-height: 15px;
	color: #fff;
	margin: 0;
	border: 0;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.ba-header__login .icon {
	margin-right: 10px;
}

.ba-header__contact {
	font: {
		family: 'Poppins', sans-serif;
		size: .875rem;
	}
	line-height: 15px;
	color: #fff;
	margin: 0;
}

.ba-nav {
	height: 60px;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	margin-top: 80px;
	left: 0;
	top: 0;
	background-color: #fff;
}

.ba-nav-wrapper {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.ba-logo {
	position: relative;
	bottom: 35px;
}

.ba-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.ba-menu__link {
	font: {
		family: 'Source Sans Pro', sans-serif;
		size: .875rem;
	}
	line-height: 15px;
	color: #000;
	text-transform: uppercase;
	margin: 0;
}

.ba-menu__cart {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	margin-left: 25px;
}

.ba-menu__btn {
	font: {
		family: 'Source Sans Pro', sans-serif;
		size: .875rem;
	}
	line-height: 15px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	margin-left: 25px;
	width: 120px;
	height: 30px;
	background-color: #ff3a2d;
	border: none;
	outline: none;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.ba-menu__item + .ba-menu__item {
	margin-left: 35px;
}

.ba-banner__info {
	font: {
		family: 'Sacramento', cursive;
		size: 2.25rem;
	}
	line-height: 15px;
	color: #00c5d2;
	text-align: center;
	margin-top: 230px;
	margin-bottom: 45px;
}

.ba-banner__title {
	font: {
		family: 'Lobster Two', cursive;
		size: 3rem;
	}
	line-height: 15px;
	color: #fff;
	text-align: center;
	margin-bottom: 40px;
}

.ba-banner__text {
	font: {
		family: 'Poppins', sans-serif;
		size: 1rem;
	}
	line-height: 28px;
	color: #fff;
	text-align: center;
	margin-bottom: 60px;
}

.ba-banner__buttons {
	display: flex;
	justify-content: center;
}

.ba-banner__btn {
	font: {
		family: 'Poppins', sans-serif;
		size: 1rem;
	}
	line-height: 15px;
	color: #fff;
	text-transform: uppercase;
	width: 150px;
	height: 50px;
	border: 2px solid #ff3a2d;
	border-radius: 5px;
	background-color: transparent;
	display: inline-block;
	margin-right: 22.5px;
	outline: none;
	cursor: pointer;
}

.btn-red {
	background-color: #ff3a2d;
	margin-right: 0;
	margin-left: 22.5px;
}

.ba-banner-slider {
	margin-top: 85px;
}

.slick-dots {
	position: relative;
	bottom: 0;
	top: 190px;
}

.slick-dots li {
	margin: 0;
}

.slick-dots li button:before {
	content: url(../img/dot-default.png);
}

.slick-dots li.slick-active button:before {
	content: url(../img/dot-active.png);
}


// ba-welcome START

.ba-welcome {
	padding-top: 135px;
}

.ba-welcome__title {
	font: {
		family: 'Lobster Two', cursive;
		style: italic;
		size: 2rem;
	}
	line-height: 38px;
	color: #ff3a2d;
	margin-bottom: 0;
	letter-spacing: .15em;
}

.ba-welcome__info {
	font: {
		family: 'Lobster Two', cursive;
		style: italic;
		size: 1.25rem;
	}
	line-height: 38px;
	color: #000;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: .15em;
}

.ba-section__text {
	font: {
		family: 'Poppins', sans-serif;
		size: .875rem;
	}
	line-height: 28px;
	color: #808080;
	margin-bottom: 45px;
}

.ba-welcome__founder {
	font: {
		family: 'Sacramento', cursive;
		size: 1.5rem;
	}
	line-height: 25px;
	color: #000;
	display: inline-block;
	margin-top: 0;
}

.ba-welcome__founder span {
	font-size: 1.125rem;
	display: block;
	text-align: center;
}

// ba-feature START

.ba-section__info {
	font: {
		family: 'Sacramento', cursive;
		size: 2.25rem;
	}
	line-height: 54px;
	color: #ff3a2d;
	text-align: center;
	margin: 0;
}

.ba-section__title {
	font: {
		family: 'Lobster Two', cursive;
		size: 2.25rem;
	}
	line-height: 54px;
	color: #000;
	text-align: center;
	margin: 0;
}

.ba-section__arrow {
	display: block;
	margin: 0 auto;
	margin-bottom: 70px;
}

.ba-feature-slide {
	width: 270px;
	margin: 0 15px;
}

.ba-feature-card__title {
	font: {
		family: 'Lobster Two', cursive;
		size: 1.5rem;
	}
	line-height: 44px;
	color: #000;
	text-align: center;
	margin: 0;
}

.ba-feature-card__price {
	font: {
		family: 'Lobster Two', cursive;
		size: 1.5rem;
	}
	line-height: 44px;
	color: #000;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ba-feature-card__price span {
	font-size: 1rem;
	text-decoration: line-through;
	margin-left: 10px;
}

// ba-about START

.ba-about {
	padding-top: 210px;
}

.ba-about .ba-section__info,
.ba-about .ba-section__title {
	text-align: left;
}

// ba-delivary START

.ba-delivary {
	padding-top: 190px;
	padding-bottom: 200px;
	background: {
		image: url(../img/bg-dark.png), url(../img/delivary-bg.jpg);
		size: cover;
	}
}

.ba-delivary .ba-section__title {
	color: #fff;
}

.ba-delivary-card {
	position: relative;
	width: 355px;
	height: 255px;
	background-color: #fff;
	text-align: center;
	padding: 75px 30px;
	margin-top: 115px;
}

.ba-delivary__title {
	font: {
		family: 'Lobster Two', cursive;
		size: 1.75rem;
	}
	line-height: 49px;
	color: #ff3a2d;
}

.ba-delivary__text {
	font: {
		family: 'Poppins', sans-serif;
		size: .875rem;
	}
	line-height: 28px;
	color: #808080;
}

.ba-delivary__logo {
	position: absolute;
	top: -15%;
	left: 35%;
	width: 100px;
	height: 80px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: #fff;
	padding-top: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

// ba-dish START

.ba-dish {
	padding-top: 180px;
	padding-bottom: 200px;
}

.ba-dish-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0 240px;
}

.ba-dish-menu .items-navi + .ba-dish-menu .items-navi {
	margin-left: 50px;
}


.ba-dish-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 80px;
}

.ba-dish-item {
	position: relative;
	width: calc(50% - 44px);
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.ba-dish-item:nth-child(1)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 250px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(2)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 265px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(3)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 235px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(4)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 230px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(5)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 245px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(6)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 275px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(7)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 265px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(8)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 220px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(9)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 220px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item:nth-child(10)::before {
	content: '';
    position: absolute;
    height: 1px;
    left: 250px;
    right: 70px;
    top: 15px;
    background-color: gray;
}

.ba-dish-item__info {
	position: relative;
	width: 75%;
}

.ba-dish-item__title {
	position: absolute;
	top: 5px;
	left: 120px;
	margin-top: 0;
}

.ba-dish-item__desc {
	position: absolute;
	top: 35px;
	left: 120px;
	margin-top: 0;
}

.ba-dish-item__price {
	margin: 0;
    font-size: 1rem;
    line-height: 1.75;
    color: #555555;
    letter-spacing: .05em;
}

.ba-dish__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 200px;
}

// ba-feedback START

.ba-feedback {
	height: 450px;
	background: {
		image: url(../img/bg-light.png), url(../img/feedback-hero.jpg);
		size: cover;
	};
	padding-top: 75px;
	padding-bottom: 190px;
}